.footer{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

.footer .options{
    cursor: pointer;
    margin: 5px;
    margin-bottom: 5px;
}
.footer .options:hover{
    color:red;
    text-decoration: underline;
}

.footer .copyright{
    opacity: 0.5;
}

.footer .developer{
    color: red;
    cursor: pointer;
}

.footer .developer:hover{
    text-decoration: underline;
}

.footer a{
    text-decoration: none;
}