.posterRow{
    color: #fff;
}

.posterRow .title{
    width: 100%;
}

.posters{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y:hidden ;
}

.posters::-webkit-scrollbar{
    display: none;
}

.poster-details{
    cursor: pointer;
}

.poster-details:hover{
    transform: scale(1.1);
}

.poster{
    max-width: 100%;
    padding: 5px;
}

.posterName{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.view-all-btn{
    font-weight: 500;
    margin-left : auto;
    cursor : pointer;
}

.view-all-btn:hover{
    color: red;
}
